<div class="header__right">
  <div class="header__user" *ngIf="CurrentUser">
    <div *ngIf="CurrentUser.avatar" class="header__user-photo" 
      [style.background-image]="'url(' + srvcAuth.createUserAvatarLink(CurrentUser) + ')'"></div>
    <div class="header__user-name">{{srvcAuth.getUserName(CurrentUser)}}</div>
  </div>

  <div class="header__user header__user_auth" *ngIf="!CurrentUser">
    <div class="header__user-name">
      <div (click)="showLoginComponent()" class="header__login" title="Войти">Войти</div>
    </div>
  </div>

  <div class="header__menu" *ngIf="CurrentUser">

    <i class="mdi mdi-menu" (click)="toggleMenuVisibility();" [class.active]="IsVisibleMenu"></i>

    <div class="header__menu-list" [class.active]="IsVisibleMenu">
      <div class="header__menu-item" [routerLink]="['/workspace']">Ваши КП
        <i class="mdi mdi-playlist-check"></i>
      </div>
      <div class="header__menu-item">Настройки
        <i class="mdi mdi-settings"></i>
      </div>
      <div class="header__menu-item" (click)="btnProfileClickec($event)">Профиль
        <i class="mdi mdi-account"></i>
      </div>
      <div class="header__menu-item" (click)="btnLogoutClicked($event)">Выход
        <i class="mdi mdi-export"></i>
      </div>
    </div>

  </div>
</div>