<body>
<div class="wrapper">

  <div class="header">
    <div class="header__wrap">
      <div class="header__left">
        <a href="/" class="header__logo"></a>
        <div class="top-menu">
          <div class="top-menu__item">О продукте</div>
          <div class="top-menu__item">Цены</div>
        </div>
      </div>
      <div class="header__right">1</div>
    </div>
  </div>

  <div class="content">
    <div class="top-banner"></div>
    <div class="how-it-works">123</div>
    <div class="video">123</div>
    <div class="advantages">123</div>
    <div class="api-block">123</div>
  </div>

</div>
<div class="footer">
  <div class="footer__wrap">123</div>
</div>

</body>

