<body>
<div class="wrapper wrapper_home">

  <div class="header">
    <div class="header__wrap">
      <div class="header__left">
        <a href="/" class="header__logo"></a>
        <div class="top-menu">
          <div class="top-menu__item">О продукте</div>
          <div class="top-menu__item">Цены</div>
        </div>
      </div>
      <div class="header__right">
        <div class="header__user">
          <div class="header__user-photo"></div>
          <div class="header__user-name">Ванадий Гейлерман</div>
        </div>
        <div class="header__menu">
          <i class="mdi mdi-menu"></i>
        </div>
      </div>
    </div>
  </div>

  <div class="content">
    <div class="top-banner"></div>
    <div class="how-it-works">
      <div class="how-it-works__wrap">
        <h2>Как это работает</h2>
        <div class="how-it-works__list">

          <div class="how-it-works__item">
            <div class="how-it-works__box">
              <i class="mdi mdi-lock-open"></i>
            </div>
            <div class="how-it-works__text">Регистрация</div>
          </div>
          <div class="how-it-works__line"></div>
          <div class="how-it-works__item">
            <div class="how-it-works__box">
              <i class="mdi mdi-table-edit"></i>
            </div>
            <div class="how-it-works__text">Создание шаблона</div>
          </div>
          <div class="how-it-works__line"></div>
          <div class="how-it-works__item">
            <div class="how-it-works__box">
              <i class="mdi mdi-television-guide"></i>
            </div>
            <div class="how-it-works__text">Просмотр результата</div>
          </div>
          <div class="how-it-works__line"></div>
          <div class="how-it-works__item">
            <div class="how-it-works__box">
              <i class="mdi mdi-finance"></i>
            </div>
            <div class="how-it-works__text">Получение роста продаж</div>
          </div>


        </div>
      </div>
    </div>

    <div class="video">
      <div class="video__wrap">
        <h2>Проблемы клиента</h2>
        <div class="video__text">
          Потребительская культура, в рамках сегодняшних воззрений, продуцирует бренд. Дело в том, что управление
          брендом
          исключительно создает межличностный BTL. VIP-мероприятие программирует жизненный цикл продукции.
        </div>

        <div class="video__box">


          <iframe width="870" height="500" src="https://www.youtube.com/embed/3pp3x6YiOys"
                  frameborder="0" allow="autoplay; encrypted-media" allowfullscreen></iframe>



        </div>
      </div>
    </div>
    <div class="advantages">123</div>
    <div class="api-block">123</div>
  </div>

</div>
<div class="footer">
  <div class="footer__wrap">123</div>
</div>

</body>

