<div class="login__wrap">
  <div class="login">
    <div class="login__link" [routerLink]="['/register']">Зарегистрироваться</div>
    <div class="login__header">Вход</div>

    <div class="login__line">
      <input #tbxLoginInput [(ngModel)]="tbxLogin" type="text" class="input" (keyup.enter)="onLoginClick($event)" placeholder="Email">
    </div>
    <div class="login__line">
      <input [(ngModel)]="tbxPassword" type="password" class="input" placeholder="Пароль" (keyup.enter)="onLoginClick($event)">
    </div>

    <div class="login__line" *ngIf="LoginError">
      <span class="login__line_error">{{LoginError}}</span>
    </div>

    <div class="login__line">
      <div class="login__btns">
        <button class="btn btn_red" (click)="onLoginClick($event)">
          <i class="mdi mdi-lock-open-outline"></i>Войти</button>

      </div>
    </div>
  </div>
</div>