<app-header></app-header>

<div class="content-page__wrap">
    <div class="content-page">

        <div class="content-page__header">Профиль</div>

        <form (submit)="onSubmit()" [formGroup]="formGroupPersonal">
            <div class="content-page_personal">
                <div class="content-page_personal_left">
                    <app-image-uploader [options]="imgUploaderOption" (upload)="onUploadImage($event)"></app-image-uploader>
                </div>

                <div class="content-page_personal_rigth">
                    <div class="content-page__line">
                        <input formControlName="lastName" type="text" class="input" placeholder="Фамилия">
                    </div>

                    <div class="content-page__line">
                        <input formControlName="firstName" type="text" class="input" placeholder="Имя">
                    </div>

                    <div class="content-page__line">
                        <input formControlName="surName" type="text" class="input" placeholder="Отчество">
                    </div>
                </div>
            </div>
        </form>

    </div>
</div>