.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.2s;
  &_big {
    height: 70px;
    font-size: 20px;
    font-weight: 700;
    padding: 0 70px;
    text-transform: uppercase;
  }
  &_red {
    background: $red;
    border: 2px solid transparent;
    color: white;
    flex: 0 0 10px;
    padding: 0 30px;
    max-width: 500px;
    i {
      margin-right: $sp/2;
    }
    &:hover {
      border: 2px solid white;
      background: none;
    }
  }
  &_transition {
    border: 2px solid white;
    &:hover {
      color: $red;
      background: white;
    }


  }
}
