.content-page {
  width: 450px;
  background: white;
  padding: $sp*3 $sp*4;
  //border-radius: 10px;
  //box-shadow: 1px 1px 5px 0px #00000036;
  //box-shadow: 1px 5px 20px 0px #00000026;
  font-size: 16px;
  position: relative;
  z-index: 2000;
  animation: logwin 0.5s;

  &_personal {


    &_rigth {
      flex: 1;
    }

    &_left {
      width: 100%;
      display: flex;
      justify-content: center;
      margin-bottom: $sp*2;
      position: relative;
      min-height: 250px;
      .image-container {
        border-radius: 50%;
        border: none;
        width: 250px !important;
        height: 250px !important;
        outline: none;
        box-shadow: none;
      }
    }

    &_avatar {
      width: 250px;
      border-radius: 50%;
      height: 250px;
      background-size: cover;
    }

    &__btns {
      margin-top: $sp*2;
      display: flex;
      justify-content: flex-start;
      align-items: center;

      &_center {
        justify-content: center;
        margin-right: 30px;
        margin-top: 15px;
      }

      .btn_red {
        font-size: 14px !important;
        padding: 0 $sp;
        min-width: 140px;
        outline: none;

        height: 40px;
        border: 1px solid transparent;

        &:hover {
          border: 1px solid $red;
          color: black;
        }

      }
    }
  }
  &__editbtn {
    position: absolute;
    top: 20px;
    right: 46px;
    background: $red;
    width: 39px;
    height: 39px;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
    transition: all 0.2s;
    &:hover {
      color: $red;
      background: white;
    }
  }

  &__wrap {
    //@include black-bg;
    background: url("/assets/img/bg-blue.jpg");
    width: 100%;
    height: 100vh;
    //padding-top: 140px;
    display: flex;
    //align-items: baseline;
    //justify-content: center;
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      z-index: 2;
      background: url("assets/img/noise.png");
      opacity: 0.5;
    }
  }

  &__header {
    //font-weight: 900;
    font-size: 22px;
    margin-bottom: $sp+10;
    color: black;
    text-transform: uppercase;
    //text-align: center;
    //letter-spacing: 5px;
  }
  &__label {
    margin-bottom: $sp/2;
  }

  &__line {
    margin-bottom: $sp;
    .input {
      font-size: 14px;
      padding: $sp;
    }

    &_error {
      color: red;
    }
  }
}
