@font-face {
  font-family: Font-F;
  src: url(assets/fonts/Alegreya_Sans/AlegreyaSans-Regular.ttf);
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: Font-F;
  src: url(assets/fonts/Alegreya_Sans/AlegreyaSans-Black.ttf);
  font-style: normal;
  font-weight: 900;
}
