.footer {
  margin: -80px auto 0;
  min-width: 800px;
  height: 80px;
  background: $black-dark;
  position: relative;
  &__wrap {
    margin: 0 auto;
    width: 1170px;
    color: white;
    display: flex;
    justify-content: space-between;
  }
  &__card {
    display: flex;
    height: 80px;
    align-items: center;

    &-item {
      margin-right: $sp/2;
      background-size: contain !important;
      width: 51px;
      height: 35px;
      &_visa {
        background: url("assets/img/visa.svg") no-repeat;
      }
      &_mk {
        background: url("assets/img/mcard.svg") no-repeat;
      }
    }
  }
  &__link {
    color: $blue;
    display: flex;
    align-items: center;
    &:hover {
      a, i {
        color: white;
      }
    }
    a {
      color: $blue;
      text-decoration: none;
      border-bottom: 1px solid ;
      position: relative;
      display: block;
      transition: 0.2s all;
    }
    i {
      position: relative;
      top: 2px;
      margin-right: $sp/3;
      transition: 0.2s all;
    }
  }
}
