.header {
  background: rgba(0, 0, 0, 0.18);
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 1000;
  &__wrap {
    margin: 0 $sp*2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__logo {
    display: block;
    width: 52px;
    height: 28px;
    background:url("assets/img/logo-time.png") no-repeat;
    margin-right: $sp*2;
  }
  &__login {
    color: white;
    text-transform: uppercase;
    font-weight: 500;
  }
  &__user {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    margin-right: $sp*3;

    &_auth {
      margin-right: 0;
    }

    &-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      margin-right: $sp/2 + 5px;
      background-size: cover !important;

    }
    &-name {

    }
  }
  &__menu {
    position: relative;
    & > i {
      font-size: 28px;
      height: 70px;
      line-height: 70px;
      display: block;
      cursor: pointer;
      &.active {
        &:before {
          content: "\F156";
          font-family: "Material Design Icons";

        }
      }
    }
    &-list {
      //background: #3E92B7;
      background: rgba(62, 146, 183, 0.9);
      position: absolute;
      top: calc(100% + 10px);
      right: 0;
      width: 235px;

      display: none;
      border-radius: 4px;
      &.active {
        display: block;
        animation: vizible  .3s;
      }
    }
    &-item {
      padding: $sp $sp;
      min-height: 40px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      border-bottom: 1px solid #62ABCB;
      transition: all 0.3s;
      cursor: pointer;
      outline: none;
      i {
        font-size: 20px;
      }
      &:hover {
        background: rgba(0, 0, 0, 0.1);
        background: $red;
        //color: $dark-text;
      }
      &:first-child {
        border-radius: 4px 4px 0 0;
      }
      &:last-child {
        border-bottom: none;
        border-radius: 0 0 4px 4px;
      }
    }
  }
}
