.header {
  background: rgba(0, 0, 0, 0.18);
  height: 70px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  color: white;
  z-index: 1000;
  &__wrap {
    margin: 0 $sp*2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
  }
  &__left {
    display: flex;
    align-items: center;
  }
  &__right {
    display: flex;
    align-items: center;
  }
  &__logo {
    display: block;
    width: 52px;
    height: 28px;
    background:url("assets/img/logo-time.png") no-repeat;
    margin-right: $sp*2;
  }
  &__user {
    flex-wrap: nowrap;
    display: flex;
    align-items: center;
    margin-right: $sp*3;
    &-photo {
      width: 40px;
      height: 40px;
      border-radius: 50%;
      background: red;
      margin-right: $sp/2 + 5px;

    }
    &-name {

    }
  }
  &__menu {
    i {
      font-size: 28px;
    }
  }
}
