.login {
  width: 450px;
  background: white;
  padding: $sp*10 $sp*4;
  //border-radius: 10px;
  //box-shadow: 1px 1px 5px 0px #00000036;
  //box-shadow: 1px 5px 20px 0px #00000026;
  font-size: 16px;
  position: relative;
  z-index: 10;
  animation: logwin 0.5s;
  &__wrap {
    //@include black-bg;
    //background: url("/assets/img/bg-blue.jpg");
    background: rgba(black, 0.75);
    width: 100%;
    height: 100vh;
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 3000;
    //align-items: center;
    //justify-content: flex-end;

  }
  &__logo {
    background: url("/assets/img/logo-go-black.svg") no-repeat;
    width: 100%;
    height: 50px;
    background-size: 100% auto;
    margin-bottom: $sp*6;
    &_profil {

      margin-bottom: $sp*2;
    }
  }
  &__header {
    //font-weight: 900;
    font-size: 22px;
    margin-bottom: $sp+10;
    color: black;
    text-transform: uppercase;
    //text-align: center;
    //letter-spacing: 5px;
  }
  &__line {
    margin-bottom: $sp;
    .input {
      font-size: 14px;
      padding: $sp;
    }

    &_error {
      color: $red;
    }
  }
  &__btns {
    margin-top: $sp*2;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    .btn_red {
      font-size: 14px !important;
      padding: 0 $sp;
      min-width: 120px;
      outline: none;
      height: 49px;
      border: 1px solid transparent;
      &:hover {
        border: 1px solid $red;
        color: black;
      }
    }
  }
  &__link {
    font-size: 14px;
    color: $blue;
    border-bottom: 1px dotted;
    cursor: pointer;
    margin-left: $sp;
    outline: none;
  }
}


@keyframes logwin {
  from {

    transform: translateX(-450px);


  }
  to {
    transform: translateX(0px);

  }
}
