.top-menu {
  display: flex;
  padding-left: $sp*3;
  border-left: 1px solid #7AB1D3;
  height: 40px;
  align-items: center;
  &__item {
    margin-right: $sp*3;
    text-transform: uppercase;
    font-weight: 900;

  }
}
