.top-banner {
  height: 705px;
  background: url("assets/img/bg-blue.jpg")  no-repeat;

 background-size: cover !important;
  background-position: center bottom;
  &__wrap {
    margin: 0 auto;
    max-width: 1170px;
    display: flex;
    padding-top: 70px;
    height: 100%;
  }
  &__left {
    flex: 1;
    color: white;
    max-width: 50% ;
    &-wrap {
      margin-top: $sp*5;
      display: flex;
      flex-direction: column;
      justify-content: center;
    }
  }
  &__right {
    flex: 1;
    position: relative;
    &:hover {
      .top-banner__paper {
        animation: paper  1s normal;
        animation-fill-mode:forwards;
      }
      .top-banner__girl {
        animation: girl2  1s normal;
        animation-fill-mode:forwards;
      }
    }

  }
  &__paper {
    height: 100%;
    width: 100%;
    background: url('assets/img/paper-2.png') no-repeat ;
    background-size: 100% auto;
    background-position: center 115px;
    position: absolute;
    animation: paper2  0.5s normal;
    animation-fill-mode:forwards;
  }


  @keyframes paper {
    from {
      opacity: 0.5;
      background-size: 100% auto;

    }
    to {
      opacity: 0.3;
      background-size: 95% auto;
    }
  }
  @keyframes paper2 {
    from {

      opacity: 0.3;
      background-size: 95% auto;

    }
  to {
    opacity: 0.5;
    background-size: 100% auto;
    }
  }


  &__girl {
    position: absolute;
    height: calc(100% + 50px);
    width: 100%;
    background: url('assets/img/red-girl-2.png') no-repeat bottom;
    background-size: auto 100%;
    animation: girl  0.5s normal;
    animation-fill-mode:forwards;
    top: -50px;
    bottom: 0;
  }
  @keyframes girl {
    from {

      transform: translateX(0px);

    }
    to {
      transform: translateX(10px);
    }
  }
  @keyframes girl2 {
    from {

      transform: translateX(10px);

    }
    to {
      transform: translateX(0px);
    }
  }
  &__logo {
    background: url('assets/img/logo-go.svg') no-repeat;
    background-size: contain;
    width: 100%;
    height: 62px;
    margin-bottom: $sp*4;
  }
  &__title {
    font-weight: 900;
    font-size: 24px;
    text-transform: uppercase;
    margin-bottom: $sp;
  }
  &__text {
    font-size: 20px;
    font-weight: 400;
    line-height: 1.4;
    margin-bottom: $sp*3;
  }
  &__link {
    font-size: 20px;
    a {
      text-decoration: none;
      border-bottom: 1px solid white;
      color: white;
      font-weight: 500;
    }
    i {
      color: white;
      font-size: 24px;
      position: relative;
      top: 4px;
      margin-right: $sp/3;
    }
  }
  &__btns {
    margin-top: $sp*4;
    display: flex;
    .btn {
      white-space: nowrap;
    }
  }
}
