$sp: 15px;
$blue: #40A9DB;
$red: #FF4774;
$black: #2F2F31;
$black-dark: #1E1E1E;
$dark-text: #607d8b;

@mixin black-bg {
  background: linear-gradient(to right, #4c4c4c 0%, #131313 100%);
  z-index: 1;
  position: relative;
  color: white;
  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    background: url("assets/img/noise.png");
    opacity: 0.5;
  }
}
@mixin clearfix {
  display: inline-block;
  &:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
  }
  * html & { height: 1px }
}




@keyframes vizible {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}
