<div class="wrapper wrapper_home">

  <div class="header">
    <div class="header__wrap">
      <div class="header__left">
        <a href="/" class="header__logo"></a>
        <div class="top-menu">
          <div class="top-menu__item">О продукте</div>
          <div class="top-menu__item">Цены</div>
        </div>
      </div>
      <div class="header__right">
        <div class="header__user" *ngIf="CurrentUser">
          <div class="header__user-photo" style="background: url('/assets/img/r1.jpg');"></div>
          <div class="header__user-name">{{srvcAuth.getUserName(CurrentUser)}}</div>
        </div>
        <div class="header__user header__user_auth" *ngIf="!CurrentUser">          
          <div class="header__user-name">
            <a [routerLink]="['/login']" class="header__login" title="Войти">Войти</a>
          </div>
        </div>
        <div class="header__menu" *ngIf="CurrentUser">

          <i class="mdi mdi-menu" (click)="active = !active" [ngClass]="{active: active}"></i>
          <div class="header__menu-list" [ngClass]="{active: active}">
            <div class="header__menu-item">Ваши КП <i class="mdi mdi-playlist-check"></i></div>
            <div class="header__menu-item">Настройки <i class="mdi mdi-settings"></i></div>
            <div class="header__menu-item" (click)="btnLogoutClicked($event)" >Выход <i class="mdi mdi-export"></i></div>
          </div>

        </div>
      </div>
    </div>
  </div>

  <div class="content">

    <div class="top-banner">
      <div class="top-banner__wrap">
        <div class="top-banner__left">
          <div class="top-banner__left-wrap">
            <div class="top-banner__logo"></div>
            <div class="top-banner__title">Коммерческое предложение</div>
            <div class="top-banner__text">Потребительская культура, в рамках сегодняшних воззрений, продуцирует бренд.
              Дело в том, что управление брендом исключительно создает межличностный BTL. VIP-мероприятие программирует
              жизненный цикл продукции.
            </div>
            <div class="top-banner__link"><i class="mdi mdi-file-document-box"></i> <a href="">Посмотреть пример КП</a>
            </div>
            <div class="top-banner__btns">
              <div class="btn btn_big btn_red">
                <i class="mdi mdi-auto-fix"></i>Создать коммерческое предложение
              </div>
            </div>
          </div>
        </div>
        <div class="top-banner__right">
          <div class="top-banner__paper"></div>
          <div class="top-banner__girl"></div>
        </div>
      </div>
    </div>


    <div class="how-it-works">
      <div class="how-it-works__wrap">
        <h2>Как это работает</h2>
        <div class="how-it-works__list">

          <div class="how-it-works__item">
            <div class="how-it-works__box">
              <i class="mdi mdi-lock-open"></i>
            </div>
            <div class="how-it-works__text">Регистрация</div>
          </div>
          <div class="how-it-works__line"></div>
          <div class="how-it-works__item">
            <div class="how-it-works__box">
              <i class="mdi mdi-format-float-left"></i>
            </div>
            <div class="how-it-works__text">Создание шаблона</div>
          </div>
          <div class="how-it-works__line"></div>
          <div class="how-it-works__item">
            <div class="how-it-works__box">
              <i class="mdi mdi-television-guide"></i>
            </div>
            <div class="how-it-works__text">Просмотр результата</div>
          </div>
          <div class="how-it-works__line"></div>
          <div class="how-it-works__item">
            <div class="how-it-works__box">
              <i class="mdi mdi-finance"></i>
            </div>
            <div class="how-it-works__text">Получение роста продаж</div>
          </div>


        </div>
      </div>
    </div>

    <div class="video">
      <div class="video__wrap">
        <h2>Проблемы клиента</h2>
        <div class="video__text">
          Потребительская культура, в рамках сегодняшних воззрений, продуцирует бренд. Дело в том, что управление
          брендом
          исключительно создает межличностный BTL. VIP-мероприятие программирует жизненный цикл продукции.
        </div>

        <div class="video__box">


          <iframe width="870" height="500" src="https://www.youtube.com/embed/3pp3x6YiOys" frameborder="0"
                  allow="autoplay; encrypted-media"
                  allowfullscreen></iframe>


        </div>
      </div>
    </div>
    <div class="advantages">
      <div class="advantages__chart"></div>
      <div class="advantages__wrap">
        <h2>Наши преимущества</h2>
        <div class="advantages__list">
          <div class="advantages__item">
            <div class="advantages__item-number">1</div>
            <div class="advantages__item-text">Стандартизация КП в компании. Все менеджеры будут отправлять
              единообразное КП (никакой отсебятины)
            </div>
          </div>
          <div class="advantages__item">
            <div class="advantages__item-number">2</div>
            <div class="advantages__item-text">Интерактивное КП адаптированное под мобильную версию где возможно
              вставлять видео о компании, кейсы и тд.
            </div>
          </div>
          <div class="advantages__item">
            <div class="advantages__item-number">3</div>
            <div class="advantages__item-text">КП которое произведет WOW-эффект на Ваших клиентов и выделит Вашу
              компанию из серой массы единообразности
            </div>
          </div>
          <div class="advantages__item">
            <div class="advantages__item-number">4</div>
            <div class="advantages__item-text">Составление КП менеджером займет не более 1 минуты, больше времени
              оставить на продажи и выполнение плана
            </div>
          </div>
          <div class="advantages__item">
            <div class="advantages__item-number">5</div>
            <div class="advantages__item-text">Увеличение конверсии в сделку
            </div>
          </div>
          <div class="advantages__item">
            <div class="advantages__item-number">6</div>
            <div class="advantages__item-text">Чат с клиентом прямо из КП
            </div>
          </div>
        </div>
        <div class="advantages__after">
          <div class="advantages__after-left">
            <div class="advantages__after-line"></div>
            <div class="advantages__after-text">до</div>
            <div class="advantages__after-line"></div>
          </div>
          <div class="advantages__after-right">
            <div class="advantages__after-line"></div>
            <div class="advantages__after-text">после</div>
            <div class="advantages__after-line"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="api-block">
      <div class="api-block__wrap">
        <div class="api-block__left">
          <div class="api-block__api">api</div>
          <div class="api-block__text">У нас современное API <br>
            и может быть интеграция с CRM
          </div>
        </div>
        <div class="btn btn_transition btn_big">узнать больше</div>

      </div>
    </div>
  </div>

</div>
<div class="footer">
  <div class="footer__wrap">
    <div class="footer__wrap">
      <div class="footer__card">
        <div class="footer__card-item footer__card-item_visa"></div>
        <div class="footer__card-item footer__card-item_mk"></div>
      </div>
      <div class="footer__link">
        <i class="mdi mdi-message-processing"></i>
        <a href="#">Поддержка</a>
      </div>
    </div>
  </div>
</div>
